.home {
  width: 100%;
  max-width: 400px;
  flex: 1;
  position: relative;
  margin-top: 50px;
}

.home .triangle {
  position: absolute;
  transform: translateX(-150px) translateY(50px);
}

.home .home__item {
  width: 100px;
  height: 200px;
  position: absolute;
  transition: 0.2s;
  border: 4px solid;
}

.home .home__item.home__paper {
  transform: translateX(85px);
  border-color: #ec0d2b;
}

.home .home__item.home__paper:hover {
  transform: translateX(85px) scale(1.2);
  transition: 0.2s;
}

.home .home__item.home__card1 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(-562px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5671f5;
}

.home .home__item.home__card1:hover {
  transform: translateX(-562px) scale(1.2);
  transition: 0.2s;
}

.home .home__item.home__card2 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(-420px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5671f5;
}

.home .home__item.home__card2:hover {
  transform: translateX(-420px) scale(1.2);
  transition: 0.2s;
}

.home .home__item.home__card3 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(-279px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5671f5;
}

.home .home__item.home__card3:hover {
  transform: translateX(-279px) scale(1.2);
  transition: 0.2s;
}

.home .home__item.home__card4 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(-138px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5671f5;
}

.home .home__item.home__card4:hover {
  transform: translateX(-138px) scale(1.2);
  transition: 0.2s;
}

.home .home__item.home__card5 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(2px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5671f5;
}

.home .home__item.home__card5:hover {
  transform: translateX(2px) scale(1.2);
  transition: 0.2s;
}

.home .home__item.home__scissors {
  transform: translateX(211px);
  border-color: #ec0d2b;
}

.home .home__item.home__scissors:hover {
  transform: translateX(211px) scale(1.2);
}

.home .home__item.home__card6 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(260px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #eca922;
}

.home .home__item.home__card6:hover {
  transform: translateX(260px) scale(1.2);
}

.home .home__item.home__card7 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(400px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #eca922;
}

.home .home__item.home__card7:hover {
  transform: translateX(400px) scale(1.2);
}

.home .home__item.home__card8 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(540px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #eca922;
}

.home .home__item.home__card8:hover {
  transform: translateX(540px) scale(1.2);
}

.home .home__item.home__card9 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(680px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #eca922;
}

.home .home__item.home__card9:hover {
  transform: translateX(680px) scale(1.2);
}

.home .home__item.home__card10 {
  width: 100px;
  height: 200px;
  bottom: 0px;
  transform: translateX(820px);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #eca922;
}

.home .home__item.home__card10:hover {
  transform: translateX(820px) scale(1.2);
}

@media screen and (max-width: 450px) {
  .home {
    max-width: 225px;
  }
  .home .triangle {
    max-width: 225px;
    transform: translateX(-120px) translateY(50px);
  }
  .home .home__item {
    width: 90px;
    height: 90px;
    border: 8px solid;
    background-size: 50%;
    margin-top: 10px;
  }
  .home .home__item.home__paper {
    transform: translateX(-30px);
  }
  .home .home__item.home__paper:hover {
    transform: translateX(-30px) scale(1.2);
  }
  .home .home__item.home__scissors {
    transform: translateX(190px);
  }
  .home .home__item.home__scissors:hover {
    transform: translateX(190px) scale(1.2);
  }
  .home .home__item.home__rock {
    transform: translateX(55px) translateY(165px);
  }
  .home .home__item.home__rock:hover {
    transform: translateX(55px) translateY(165px) scale(1.2);
  }
}
